@font-face {
    font-family: 'bignoodletoo';
    src: url('images/bignoodletoo.ttf');
}

@font-face {
    font-family: 'koverwatch';
    src: url('images/koverwatch.ttf');
}

body {
    margin: 0;
}

#navgauche {
    background-image: url(images/nav2.png);
    width: 15%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    outline: 0;
}

#navdroite {
    background-image: url(images/nav3.png);
    width: 15%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    outline: 0;
}

#main {
    width: 70%;
    background-color: gray;
}

#megasection {
    display: flex;
}

h2 {
    font-family: 'koverwatch';
    color: orange;
    text-decoration: none;
    font-size: 35px;
}

h3 {
    font-family: 'bignoodletoo';
    color: white;
    font-size: 28px;
}

a {
    text-decoration: none;
}

a:focus {
    outline: 0;
}